<div class="modal fade" id="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"><%= t('exams.new.title') %></h4>
      </div>
      <%= simple_nested_form_for @exam_course, url: save_attendances_exam_course_path(@exam_course), remote: true do |f| %>
      <div class="modal-body">
        <%= f.simple_fields_for :attendance do |a| %>
          <%= a.association :students, as: :check_boxes, input_html:{class:'icheck'} %>
        <% end %>
      </div>
      <div class="modal-footer">
          <%= f.button :submit, class:'btn-success' %>
          <button type="button" class="btn btn-default" data-dismiss="modal"><%= t 'btn.close' %></button>
      </div>
      <% end %>
    </div>
  </div>
</div>