<div role="tabpanel" class="tab-pane active fade in" id="general">
  <div class="row">
    <div class="col-md-3">
      <%= render 'users/forms/avatar', f: f %>
    </div><!--//col-->

    <div class="col-md-9">
      <fieldset>
        <legend><%= t('legends.user.academic_informations') %></legend>
          <div class="row">
            <%= f.input :department_ids, as: :select, collection: @departments, label_method: :title, include_blank: false, input_html:{multiple: true}, wrapper_html:{class:'col-md-6'} %>
            <%= f.input :professor_type, as: :select, wrapper_html:{class:'col-md-6'} %>
            <%= f.input :professor_office_id, as: :select, collection: @offices, input_html:{data: {size: 10, 'live-search'=> 'true'}}, wrapper_html:{class:'col-md-6'} %>
          </div>
      </fieldset>

      <%= render 'users/forms/personal', f: f %>
      <%= render 'users/forms/legal', f: f %>
      <%= render 'users/forms/login_account', f: f %>

    </div><!--//col-->
  </div><!--//row-->
</div><!--//profile-->