<div role="tabpanel" class="tab-pane active fade in" id="general">
  <div class="row">
    <div class="col-md-4">
      <%= render 'users/forms/avatar', f: f %>
    </div><!--//col-->

    <div class="col-md-8">
      <fieldset>
        <legend><%= t('legends.user.academic_informations') %></legend>
          <div class="row">
            <%= f.input :professor_type, as: :select, wrapper_html:{class:'col-md-6'} %>
            <%= f.association :professor_office, as: :select, collection: @offices, label_method: lambda{|obj| obj.name}, input_html:{data: {size: 10, 'live-search'=> 'true'}}, wrapper_html:{class:'col-md-6'} %>
          </div>
      </fieldset>

      <%= render 'users/forms/personal', f: f %>
      <%= render 'users/forms/legal', f: f %>
      <%= render 'users/forms/login_account', f: f %>

    </div><!--//col-->
  </div><!--//row-->
</div><!--//profile-->