<table class="table table-half">
  <caption><h4><%= t 'legends.user.legal_informations' %></h4></caption>
  <tr>
    <td><b><%= t 'mongoid.attributes.user.nic' %></b></td>
    <td><%= resource.nic %></td>
  </tr>
  <tr>
    <td><b><%= t 'mongoid.attributes.user.ssn' %></b></td>
    <td><%= resource.ssn %></td>
  </tr>
  <tr>
    <td><b><%= t 'mongoid.attributes.user.trn' %></b></td>
    <td><%= resource.trn %></td>
  </tr>
  <tr>
    <td><b><%= t 'mongoid.attributes.user.tax_office' %></b></td>
    <td><%= resource.tax_office %></td>
  </tr>
</table>