<% if %w(new create).include?(controller.action_name)
     title(t('notices.new.title'))
   else
     title(t('notices.edit.title'))
   end
%>

<%= render 'general/form_errors', resource: @notice %>

<div class="panel panel-default">
  <div class="panel-body">
    <%= simple_nested_form_for @notice do |f| %>
        <%= f.input :title %>

        <fieldset>
          <legend><%= t 'legends.notice.receivers' %></legend>

          <div class="row">
            <%= f.association :institution, wrapper_html:{class:'col-md-4'} %>
            <%= f.association :department, input_html: {data: {size: 10, 'live-search'=> 'true'}},  collection: @departments ,wrapper_html:{class:'col-md-4'} %>
            <%= f.association :course, collection: @courses, input_html: {data: {size: 10, 'live-search'=> 'true'}}, wrapper_html:{class:'col-md-4'} %>
          </div>
          <div class="row">
            <%= f.association :admin, collection: @admins, label_method: lambda{|obj| "#{obj.fullname}"}, input_html:{data:{size: 10, 'live-search'=> 'true'}} , wrapper_html:{class:'col-md-4'} %>
            <%= f.association :professor, collection: @professors, input_html:{data:{size: 10, 'live-search'=> 'true'}}, wrapper_html:{class:'col-md-4'} %>
            <%= f.association :student, collection: @students, input_html:{data:{size: 10, 'live-search'=> 'true'}}, wrapper_html:{class:'col-md-4'} %>
          </div>
        </fieldset>

      <%= f.input :content, as: :ckeditor %>
    </div><!--//panel-body-->
    <div class="panel-footer">
      <%= f.button :submit, class:'btn-success' %>
      <%= cancel_btn(notices_path) %>
      <%= delete_btn(@notice) %>
    <% end %>
    </div><!--//panel-footer-->
</div><!--//panel-->