<% title t('.title') %>

<div class="panel panel-default">
  <div class="panel-heading">
    <%= link_to fa_icon('plus', text: t('notices.new.title')), new_notice_path, class:'btn btn-sm btn-primary pull-right' if can?(:manage, Notice) %>
    <h2 class="panel-title"><%= t('mongoid.models.notice.other') %></h2>
  </div><!--//panel-heading-->
  <div class="panel-body">
    <table id="notices-table" class="datatable table table-hover table-striped" data-source="<%= notices_path(format: :json) %>">
      <thead>
      <tr>
        <th><%= t('mongoid.attributes.notice.title') %></th>
        <th><%= t('mongoid.attributes.notice.target') %></th>
        <th><%= Department.model_name.human %></th>
        <th><%= t('mongoid.attributes.notice.created_at') %></th>
        <th><%= t('mongoid.attributes.notice.updated_at') %></th>
        <% if can? :manage, Notice %>
          <th class="no-sort text-center"><%= t('datatable.options') %></th>
        <% end %>
      </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div><!--//panel-body-->
</div><!--//panel-->