<div role="tabpanel" class="tab-pane active fade in" id="programme">
    <%= f.input :diploma_title %>
    <div class="row">
      <%= f.input :studies_level, as: :select, include_blank: false, wrapper_html:{ class:'col-md-6' }  %>
      <%= f.input :semesters, wrapper_html:{ class:'col-md-6' }  %>
    </div><!--//row-->
    <%= f.input :fees, as: :boolean, inline_label: t('mongoid.attributes.studies_programme.fees'), input_html:{class:'icheck'} %>
    <%= f.input :orientation, as: :boolean, inline_label: t('mongoid.attributes.studies_programme.orientation'), input_html:{class:'icheck'} %>
    <%= f.input :orientation, as: :boolean, inline_label: t('mongoid.attributes.studies_programme.active'), input_html:{class:'icheck'} %>
</div><!--//programme-->