<div role="tabpanel" class="tab-pane fade" id="rules">
  <div class="form-group">
    <%= add_nested_resource(f, :programme_rules, '.programme-rules') %>
  </div>

  <div class="programme-rules">
    <%= f.simple_fields_for :programme_rules do |r| %>
        <div class="well">
          <div class="row">
            <%= r.input :course_type, as: :select, include_blank: true, wrapper_html:{class:'col-md-4'} %>
            <%= r.input :operator, as: :select, include_blank: true, wrapper_html:{class:'col-md-4'} %>
            <%= r.input :value, wrapper_html:{class:'col-md-4'} %>
          </div>

            <%= remove_nested_resource(r) %>
        </div><!--//well-->
    <% end %>
  </div><!--//programme-rules-->
</div><!--//rules-->