<% provide :page_title, t('.title') %>

<div class="panel panel-default">
  <div class="panel-heading">
    <%= link_to fa_icon('plus', text: t('admins.new.title')), new_department_admin_path(params[:department_id]), class:'btn btn-sm btn-primary pull-right' if (can? :create, Admin) %>
    <h2 class="panel-title"><%= t('mongoid.models.admin.other') %></h2>
  </div><!--//panel-heading-->
  <div class="panel-body">
    <table id="admins-table" class="datatable table table-hover table-striped" data-source="<%= department_admins_path(params[:department_id], format: :json) %>">
      <thead>
      <tr>
        <th><%= t('mongoid.attributes.user.name') %></th>
        <th><%= t('mongoid.attributes.user.lastname') %></th>
        <th><%= t('mongoid.attributes.user.email') %></th>
        <% if can? :manage, Admin %>
            <th class="no-sort text-center"><%= t('datatable.options') %></th>
        <% end %>
      </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div><!--//panel-body-->
</div><!--//panel-->