<% title t('.title') %>

<div class="panel panel-default">
  <% if (can? :create, Student) %>
    <div class="panel-heading">
      <%= link_to fa_icon('plus', text: t('students.new.title')), new_department_student_path(params[:department_id]), class:'btn btn-sm btn-primary' %>
    </div><!--//panel-heading-->
  <% end %>
  <div class="panel-body">
    <table id="students-table" class="datatable table table-hover table-striped" data-source="<%= department_students_path(params[:department_id], format: :json) %>">
      <thead>
      <tr>
        <th class="text-center"><%= t('mongoid.attributes.student.stc') %></th>
        <th><%= t('mongoid.attributes.user.name') %></th>
        <th><%= t('mongoid.attributes.user.lastname') %></th>
        <th><%= t('mongoid.attributes.user.birthdate') %></th>
        <th class="text-center"><%= t('mongoid.attributes.student.semester') %></th>
        <th class="text-center"><%= t('mongoid.attributes.student.status') %></th>
        <th class="no-sort text-center"><%= t('datatable.options') %></th>
      </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div><!--//panel-body-->
</div><!--//panel-->