<% if %w(new create).include?(controller.action_name)
     title(t('timetables.new.title'))
   else
     title(t('timetables.edit.title'))
   end
%>

<%= render 'general/form_errors', resource: @timetable %>

<div class="panel panel-default">
  <div class="panel-body">
    <%= simple_nested_form_for [@department, @timetable] do |f| %>

        <%= f.input :period %>

        <div class='row datetimerange'>
          <%= f.input :from, as: :date_picker, wrapper: :ranged_datetime %>
          <%= f.input :to, as: :date_picker, wrapper: :ranged_datetime %>
        </div>

        <div class="form-group">
          <%= add_nested_resource(f, :child_timetables, target:'.child_timetables', content: t('mongoid.models.child_timetable.period')) %>
        </div>

        <div class="child_timetables">

          <%= f.simple_fields_for :child_timetables do |a| %>
              <div class="well">
                <div class="row">
                  <%= a.input :type, wrapper_html:{class:'col-md-6'} %>
                  <%= a.input :title, wrapper_html:{class:'col-md-6'} %>
                </div><!--//row-->
                <div class='row datetimerange'>
                  <%= a.input :from, as: :date_picker, wrapper: :ranged_datetime %>
                  <%= a.input :to, as: :date_picker, wrapper: :ranged_datetime %>
                </div>

                <%= remove_nested_resource(a, content: t('mongoid.models.child_timetable.period'), translate: true)%>
              </div><!--//well-->
          <% end %>
        </div><!--//addresses-->
  </div><!--//panel-body-->

  <div class="panel-footer">
        <%= f.button :submit, class:'btn-success' %>
        <%= cancel_btn(root_path) %>
    <% end %>
  </div><!--//panel-footer-->
</div><!--//panel-->



