<div role="tabpanel" class="tab-pane fade in" id="address">
  <%= f.simple_fields_for :address do |a| %>
        <div class="row">
          <%= a.input :country, include_blank: false, priority: ['GR'], input_html: {data: {size: 10, 'live-search': 'true'}}, wrapper_html:{class:'col-md-6'} %>
          <%= a.input :city, wrapper_html:{class:'col-md-6'} %>
          <%= a.input :postal_code, wrapper_html:{class:'col-md-6'} %>
          <%= a.input :address, wrapper_html:{class:'col-md-6'} %>
        </div>
  <% end %>

</div><!--//general-->