<% if %w(new create).include?(controller.action_name)
     title(t('registrations.new.title'))
   else
     title(t('registrations.edit.title'))
   end
%>

<%= render 'general/form_errors', resource: @registration %>

<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title"><%= Date.current.year.to_s + "-" + Date.current.next_year.year.to_s %></h2>
  </div>

    <%= simple_form_for [@student, @registration], defaults:{label: false} do |f| %>


      <table class="table table-bordered">
        <thead>
          <th></th>
          <th><%= t 'mongoid.attributes.course.title' %></th>
          <th class="text-center"><%= t 'mongoid.attributes.course.semester' %></th>
          <th class="text-center"><%= t 'mongoid.attributes.course.course_type' %></th>
          <th class="text-center"><%= t 'mongoid.models.hall.other' %></th>
          <th class="text-center"><%= t 'mongoid.attributes.course.ects' %></th>
          <th class="text-center"><%= t 'mongoid.attributes.course.hours' %></th>
        </thead>
        <tbody>
          <% @courses.each do |c| %>
            <tr>
              <td class="text-center">
                <%= f.input_field :course_ids, collection: c, label_method: lambda{|attr| ' '}, as: :check_boxes, class:'icheck' %>
              </td>
              <td>
                <% if c.has_parent_course? %>
                    <%= link_to "#{c.title} (#{c.course_part_text})" , course_path(c.parent_course), remote: true %></td>
                <% else %>
                    <%= link_to c.title, course_path(c), remote: true %></td>
                <% end %>
              </td>
              <td class="text-center"><%= c.semester %></td>
              <td><%= f.input :course_class_ids, input_html:{name: 'registration[course_class_ids][]'}, collection: c.course_classes, as: :select, label_method: lambda{|obj| "#{obj.hall.name} (#{t 'mongoid.models.course_class.available_seats', count: obj.hall.seats})"} if c.course_classes? %></td>
              <td class="text-center"><%= c.has_parent_course? ? c.parent_course.course_type_text : c.course_type_text %></td>
              <td class="text-center"><%= c.has_parent_course? ? number_to_percentage(c.percent, precision: 0) : c.ects %></td>
              <td class="text-center"><%= c.hours %></td>
            </tr>
        <% end %>
        </tbody>
      </table>

    <div class="panel-footer">
      <%= f.button :submit, class:'btn-success' %>
          <%= cancel_btn(student_registrations_path(@registration.student)) %>
      <% end %>
    </div><!--//panel-footer-->
</div><!--//panel-->



