<fieldset>
  <legend><%= t('legends.user.legal_informations') %></legend>
  <div class="row">
    <%= f.input :nic, wrapper_html:{ class:'col-md-6' } %>
    <%= f.input :ssn, wrapper_html:{ class:'col-md-6' } %>
    <%= f.input :trn, wrapper_html:{ class:'col-md-6' } %>
    <%= f.input :tax_office, wrapper_html:{ class:'col-md-6' } %>
  </div><!--//row-->
</fieldset>