<fieldset>
  <legend><%= t('legends.user.personal_informations') %></legend>
  <div class="row">
    <%= f.input :name, wrapper_html:{ class:'col-md-6' } %>
    <%= f.input :lastname, wrapper_html:{ class:'col-md-6' } %>
    <%= f.input :gender, as: :select, wrapper_html:{ class:'col-md-6' } %>
    <%= f.input :birthdate, as: :date_picker, wrapper_html:{ class:'col-md-6' } %>
  </div><!--//row-->
</fieldset>