<% title t('.title') %>

<div class="panel panel-primary">
  <div class="panel-heading">
    <%= link_to fa_icon('pencil-square-o', text: t('datatable.edit')), edit_department_path(@department), class:'btn btn-warning btn-sm pull-right' if (can? :update, Department) %>
    <h2 class="panel-title"><%= @department.title %></h2>
  </div><!--//panel-body-->
  <div class="panel-body">
    <div class="row">
      <div class="col-md-4">
        <div class="panel panel-default text-center">
          <div class="panel-heading">
            <h3 class="panel-title"><%= t 'mongoid.attributes.department.department_logo' %></h3>
          </div>
          <div class="panel-body">
            <%= image_tag @department.department_logo.url(:medium), id:'avatar-img', class:'center-block img-medium img-medium img-rounded' %>
          </div>
        </div>
        <h3></h3>
      </div><!--//col-->

      <div class="col-md-8">
        <table class="table table-bordered">
          <caption><h4><%= Department.model_name.human %></h4></caption>
          <tr>
            <td><b><%= t 'mongoid.attributes.department.title' %></b></td>
            <td><%= @department.title %></td>
          </tr>
          <tr>
            <td><b><%= t 'mongoid.attributes.department.foundation_date' %></b></td>
            <td><%= @department.foundation_date %></td>
          </tr>
          <tr>
            <td><b><%= t 'mongoid.attributes.department.head_of_department' %></b></td>
            <td><%= @department.head_of_department %></td>
          </tr>
          <tr>
            <td><b><%= t 'mongoid.attributes.department.status' %></b></td>
            <td><%= @department.status_text %></td>
          </tr>
        </table>
      </div><!--//col-->
    </div><!--//row-->

    <div class="row">
      <div class="col-md-6">
        <table class="table table-bordered">
          <caption><h4><%= Address.model_name.human %></h4></caption>
          <tr>
            <td class="col-sm-6"><b><%= t 'mongoid.attributes.address.country' %></b></td>
            <td><%= @department.address.country %></td>
          </tr>
          <tr>
            <td><b><%= t 'mongoid.attributes.address.city' %></b></td>
            <td><%= @department.address.city %></td>
          </tr>
          <tr>
            <td><b><%= t 'mongoid.attributes.address.postal_code' %></b></td>
            <td><%= @department.address.postal_code %></td>
          </tr>
          <tr>
            <td><b><%= t 'mongoid.attributes.address.address' %></b></td>
            <td><%= @department.address.address %></td>
          </tr>
        </table>
      </div><!--//col-->

      <div class="col-md-6">
        <% if @department.has_contacts? %>
          <table class="table table-bordered">
            <caption><h4><%= Contact.model_name.human %></h4></caption>
            <tr>
              <td class="col-sm-6"><b><%= t 'enumerize.contact.type.phone' %></b></td>
              <td><%= @phones %></td>
            </tr>
            <tr>
              <td><b><%= t 'enumerize.contact.type.fax' %></b></td>
              <td><%= @fax %></td>
            </tr>
            <tr>
              <td><b><%= t 'enumerize.contact.type.email' %></b></td>
              <td><%= @emails %></td>
            </tr>
          </table>
        <% end %>
      </div><!--//col-->
    </div><!--//row-->
  </div><!--//panel-body-->
</div><!--//panel-->