<div role="tabpanel" class="tab-pane fade in" id="labs">

  <div class="form-group">
    <%=  link_to fa_icon('plus', text: t('mongoid.models.exam_course.add_lab_exam')), new_exam_exam_course_path(@exam, type: :theory), remote: true, class:'btn btn-default'%>
  </div>

  <table id="labs-table" class="datatable table table-hover table-striped" data-source="<%= exam_exam_courses_path(@exam, type: :labs, format: :json) %>">
    <thead>
    <tr>
      <th><%= CourseClass.model_name.human %></th>
      <th><%= t 'mongoid.attributes.exam_course.exam_day' %></th>
      <th><%= Hall.model_name.human %></th>
      <th><%= Professor.model_name.human %></th>
      <th class="text-center"><%= t('mongoid.attributes.course_class.registared_students') %></th>
      <th class="no-sort text-center"><%= t('datatable.options') %></th>
    </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>