<div class="row">
  <div class="col-sm-4 col-md-4">
    <div class="widget widget-danger">
      <div class="widget-body">
        <%= @students %> <%= t('mongoid.models.student', count: @students) %>
      </div><!--//widget-body-->
    </div><!--//widget-->
  </div><!--//col-->

  <div class="col-sm-4 col-md-4">
    <div class="widget widget-warning">
      <div class="widget-body">
        <%= @admins %> <%= t('mongoid.models.admin', count: @admins) %>
      </div><!--//widget-body-->
    </div><!--//widget-->
  </div><!--//col-->

  <div class="col-sm-4 col-md-4">
    <div class="widget widget-primary">
      <div class="widget-body">
        <%= @professors %> <%= t('mongoid.models.professor', count: @professors) %>
      </div><!--//widget-body-->
    </div><!--//widget-->
  </div><!--//col-->
</div><!--//row-->