<% title t('professors.show.title') %>

<div class="panel panel-primary">
  <div class="panel-heading">
    <%= link_to fa_icon('pencil-square-o', text: t('datatable.edit')), edit_professor_path(@professor), class:'btn btn-warning btn-sm pull-right' if (can? :update, Professor) %>
    <h2 class="panel-title"><%= @professor.fullname %></h2>
  </div><!--//panel-heading-->
  <div class="panel-body">
    <ul class="nav nav-pills">
      <li role="presentation" class="active"><a href="#general" role="tab" data-toggle="tab"><%= fa_icon'user', text: Professor.model_name.human %></a></li>
      <li role="presentation"><a href="#address" role="tab" data-toggle="tab"><%= fa_icon'globe', text: t('mongoid.models.address.other')%></a></li>
      <li role="presentation"><a href="#contact" role="tab" data-toggle="tab"><%= fa_icon'phone', text: Contact.model_name.human %></a></li>
      <li role="presentation"><a href="#office_time" role="tab" data-toggle="tab"><%= fa_icon'clock-o', text: t('mongoid.models.office_time.other') %></a></li>
    </ul>

    <div class="tab-content">
      <%= render 'professors/tabs/show_general' %>
      <%= render 'users/show/address' %>
      <%= render 'users/show/contact', resource: @professor %>
      <%= render 'professors/tabs/show_office_time' %>
    </div><!--//tab-content-->
  </div><!--//panel-body-->
</div><!--//panel-->