<% title t('devise.sessions.new.title') %>

<div class="col-xs-10 col-sm-8 col-md-6 col-sm-offset-2 col-xs-offset-1 col-md-offset-3">


  <div class="panel panel-primary">
    <div class="panel-heading text-center">
      <h2 class="panel-title"><%= t 'devise.sessions.new.title' %></h2>
    </div>
    <div class="panel-body">
      <%= simple_form_for resource, as: resource_name, url: session_path(resource_name), remote: true, defaults: {label: false, required: false}, html: {novalidate: false, data: {format: :json}} do |f| %>
          <%= f.input :email, wrapper: :vertical_input_group do %>
              <span class="input-group-addon"><%= fa_icon'envelope' %></span>
              <%= f.input_field :email, placeholder: t('simple_form.labels.defaults.email'), class: "form-control" %>
          <% end %>

          <%= f.input :password, wrapper: :vertical_input_group do %>
              <span class="input-group-addon"><%= fa_icon'key' %></span>
              <%= f.input_field :password, placeholder: t('simple_form.labels.defaults.password'), class: "form-control" %>
          <% end %>

        <%= f.button :submit, t('helpers.submit.session.new'), class: 'btn-primary btn-block' %>
      <% end %>
    </div><!--//panel-body-->
    <div class="panel-footer text-center">
      <%= render 'devise/shared/links' %>
    </div><!--//panel-footer-->
  </div><!--//panel-->

  <div id="copyright" class="text-center">
    <p><%= Time.now.year %> &copy; | Created by <%= link_to 'DimiDev', 'http://gr.linkedin.com/in/dimidev', target: 'blank' %></p>

    <%= image_tag 'badges/ror.png', class: 'ror-badge' %>
    <%= image_tag 'badges/mongodb.png', class: 'mongo-badge' %>
  </div>
</div><!--/col-->