<div class="panel panel-info">
  <div class="panel-heading">
    <h2 class="panel-title"><%= t('mongoid.models.notice.other') %></h2>
  </div><!--//panel-heading-->
  <div class="panel-body">
    <ul class="nav nav-pills nav-justified">
      <li class="active"><a data-toggle="tab" href="#institution"><%= t('mongoid.models.institution.one') %></a></li>
      <li><a data-toggle="tab" href="#departments"><%= t('mongoid.models.department.other') %></a></li>
      <li><a data-toggle="tab" href="#professors"><%= t('mongoid.models.professor.other') %></a></li>
      <li><a data-toggle="tab" href="#students"><%= t('mongoid.models.student.other') %></a></li>
    </ul>
  </div><!--//panel-body-->

  <div class="tab-content">
    <div id="institution" class="list-group tab-pane fade in active">
      <% if @institution_notices.present? %>
          <% @institution_notices.each do |n| %>
              <%= link_to n, remote: true, class:'list-group-item' do %>
                  <%= n.title %> <span class="badge badge-info pull-right"><%= n.created_at.strftime('%d-%m-%Y %H:%M:%S') %></span>
              <% end %>
          <% end %>
      <% else %>
          <div class="panel-body">
            <div class="alert alert-warning">
              <%= fa_icon'exclamation-circle', text: t('mongoid.errors.notices.no_notices') %>
            </div>
          </div>
      <% end %>
    </div>

    <div id="departments" class="list-group tab-pane fade in">
      <% if @department_notices.present? %>
          <% @department_notices.each do |n| %>
              <%= link_to n, remote: true, class:'list-group-item' do %>
                  <%= n.title %> <span class="badge badge-info pull-right"><%= n.created_at.strftime('%d-%m-%Y %H:%M:%S') %></span>
              <% end %>
          <% end %>
      <% else %>
          <div class="panel-body">
            <div class="alert alert-warning">
              <%= fa_icon'exclamation-circle', text: t('mongoid.errors.notices.no_notices') %>
            </div>
          </div>
      <% end %>
    </div>

    <div id="professors" class="list-group tab-pane fade in">
      <% if @professor_notices.present? %>
          <% @professor_notices.each do |n| %>
              <%= link_to n, remote: true, class:'list-group-item' do %>
                  <%= n.title %> <span class="badge badge-info pull-right"><%= n.created_at.strftime('%d-%m-%Y %H:%M:%S') %></span>
              <% end %>
          <% end %>
      <% else %>
          <div class="panel-body">
            <div class="alert alert-warning">
              <%= fa_icon'exclamation-circle', text: t('mongoid.errors.notices.no_notices') %>
            </div>
          </div>
      <% end %>
    </div>

    <div id="students" class="list-group tab-pane fade in">
      <% if @students_notices.present? %>
          <% @students_notices.each do |n| %>
              <%= link_to n, remote: true, class:'list-group-item' do %>
                  <%= n.title %> <span class="badge badge-info pull-right"><%= n.created_at.strftime('%d-%m-%Y %H:%M:%S') %></span>
              <% end %>
          <% end %>
      <% else %>
          <div class="panel-body">
            <div class="alert alert-warning">
              <%= fa_icon'exclamation-circle', text: t('mongoid.errors.notices.no_notices') %>
            </div>
          </div>
      <% end %>
    </div>

  </div><!--//tab-content-->

</div><!--//panel-->