<% if %w(new create).include?(controller.action_name)
     title(t('studies_programmes.new.title'))
   else
     title(t('studies_programmes.edit.title'))
   end
%>

<%= render 'studies_programmes/modal' %>

<%= render 'general/form_errors', resource: @studies_programme %>

<div class="panel panel-default">
  <div class="panel-heading">
    <ul class="nav nav-pills">
      <li role="presentation" class="active"><a href="#programme" role="tab" data-toggle="tab"><%= fa_icon'user', text: t('mongoid.models.studies_programme.one')%></a></li>
      <li role="presentation"><a href="#courses" role="tab" data-toggle="tab"><%= fa_icon'book', text: t('mongoid.models.course.other')%></a></li>
    </ul>
  </div><!--//panel-heading-->
  <div class="panel-body">
    <%= simple_nested_form_for [@department, @studies_programme] do |f| %>

        <div class="tab-content">
            <%= render 'studies_programmes/tabs/programme', f: f %>
            <%= render 'studies_programmes/tabs/courses', f: f %>
        </div><!--//tab-content-->

  </div><!--//panel-body-->
  <div class="panel-footer">
        <%= f.button :submit, class:'btn-success' %>
        <%= cancel_btn(department_studies_programmes_path(@studies_programme.department)) %>
        <%= delete_btn(@studies_programme) %>
    <% end %>
  </div><!--//panel-footer-->
</div><!--//panel-->