<div role="tabpanel" class="tab-pane fade" id="courses">
  <table id="courses-table" class="full-length-datatable table table-hover table-bordered" data-source="<%= studies_program_courses_path(@studies_program , format: :json) %>">
    <thead>
    <tr>
      <th class="text-center"><%= t('mongoid.attributes.course.semester') %></th>
      <th><%= t('mongoid.attributes.course.title') %></th>
      <th><%= t('mongoid.attributes.course.course_type') %></th>
      <th class="text-center"><%= t('mongoid.attributes.course.ects') %></th>
      <th class="text-center"><%= t('mongoid.attributes.course.hours') %></th>
    </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div><!--//courses-->