<% if %w(new create).include?(controller.action_name)
     title t('exams.new.title')
   else
     title t('exams.edit.title')
   end
%>

<%= render 'general/form_errors', resource: @exam %>

<div class="panel panel-default">
  <div class="panel-body">

    <table id="buildings-table" class="datatable table table-hover table-striped" data-source="<%= exam_path(@exam, format: :json) %>">
      <thead>
      <tr>
        <th class="text-center"><%= t('mongoid.attributes.hall.name') %></th>
        <th class="text-center"><%= t('mongoid.attributes.hall.name') %></th>
        <th class="text-center"><%= t('mongoid.attributes.hall.name') %></th>
        <th class="no-sort text-center"><%= t('datatable.options') %></th>
      </tr>
      </thead>
      <tbody>
      </tbody>
    </table>

  </div><!--//pane-body-->
  <div class="panel-footer">
    <%= cancel_btn(department_exams_path(@exam.department)) %>
    <%= delete_btn(@exam) %>
  </div><!--//pane-footer-->
</div><!--//panel-->