<% title t('studies_programs.index.title') %>

<div class="panel panel-primary">
  <div class="panel-heading">
    <%= link_to fa_icon('pencil-square-o', text: t('datatable.edit')), edit_studies_program_path(@studies_program), class:'btn btn-warning btn-sm pull-right' if (can? :update, StudiesProgram) %>
    <h2 class="panel-title"><%= @studies_program.diploma_title %></h2>
  </div><!--//panel-heading-->
  <div class="panel-body">
    <ul class="nav nav-pills">
      <li role="presentation" class="active"><a href="#general" role="tab" data-toggle="tab"><%= fa_icon'book', text: StudiesProgram.model_name.human %></a></li>
      <li role="presentation"><a href="#courses" role="tab" data-toggle="tab"><%= fa_icon'book', text: t('mongoid.models.course.other')%></a></li>
    </ul>

    <div class="tab-content">
      <%= render 'studies_programs/tabs/show_general' %>
      <%= render 'studies_programs/tabs/show_courses' %>
    </div><!--//tab-content-->
  </div><!--//panel-body-->
</div><!--//panel-->