<!DOCTYPE html>
<html>
<head>
  <title>Estudy - <%= yield(:page_title).presence || 'SIS' %></title>
  <meta charset="utf-8">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <%= csrf_meta_tags %>
</head>
<body class="devise <%= "#{controller.controller_name} #{controller.action_name}" %>" >

<header>
  <div class="container-fluid">
    <% if Institution.exists? %>
        <%= link_to image_tag(Institution.first.institution_logo.url(:medium)), root_path, class:'navbar-brand' %>
        <p class="navbar-text"><%= Institution.first.title %></p>
    <% end %>

    <ul class="nav navbar-nav language-select pull-right">
      <% I18n.available_locales.each do |lang| %>
          <li><%= link_to image_tag("flags/#{lang}.png"), locale: lang %></li>
      <% end %>
    </ul>
  </div><!--//container-fluid-->
</header>

<main>
  <div class="container wrapper">

    <%= yield %>

  </div><!--//container-->
</main>

</body>
</html>
