<!DOCTYPE html>
<html>
<head>
  <title>Estudy - <%= yield(:page_title).presence || 'SIS' %></title>
  <meta charset="utf-8">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <%= csrf_meta_tags %>
</head>
<body class="devise <%= "#{controller.controller_name} #{controller.action_name}" %>" >

<main>

  <div class="container wrapper">

    <div class="language-select text-center">
      <% I18n.available_locales.each do |lang| %>
          <%= link_to image_tag("flags/#{lang}.png"), locale: lang %>
      <% end %>
    </div>

    <%= yield %>

  </div><!--//container-->
</main>

</body>
</html>
